<!DOCTYPE html>
<html lang="en">
<head>

  <title>Accueil Manon Psychologie pour Enfants</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body class="backgroundimg">

  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
          <div class="card-body">

            <h5 class="card-title text-center">Connection</h5>

            <form class="form-signin">
              <div class="form-label-group">
                <label for="inputEnfant">Nom de l'Enfant</label>
                <input type="nomEnfant" id="inputEnfant" class="mb-2 form-control" placeholder="Nom de l'Enfant" required autofocus>
              </div>

              <div class="form-label-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
              </div>
              <button class="mt-4 btn btn-lg btn-primary btn-block text-uppercase" type="submit">Connection</button>
            </form>
            <hr class="my-3">

            <h6 class="text-center">Vous n'avez pas de compte?</h6>
            <button class="mt-3 btn btn-lg btn-primary btn-block text-uppercase" type="submit">Créer un compte</button>

          </div>
        </div>
    </div>
  </div>

</body>
