body, html{
  margin: 0;
  padding: 0;
}

.backgroundimg{
  background-image: url("../images/petitprince.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 380px;
}
