<!DOCTYPE html>
<html lang="en">
<head>

  <title>Accueil Manon Psychologie pour Enfants</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="../../script/profil.Client.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<div class="row">
  <div class="col-sm-12 sol-md-10 col-lg-8 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Profil du client</h4>
      </div>

      <div class="card-body">
        <form action="/profil" method="post">

          <h6 class="text-center mb-3">Parent</h6>

          <div class="row">
            <div class="col">
              <label for="nom_parent1">Nom:</label>
              <input type="text" class="form-control" name="nom_parent1">
            </div>
            <div class="col">
              <label for="prenom_parent1">Prénom:</label>
              <input type="text" class="form-control" name="prenom_parent1">
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="date_de_naissance_parent1">Date de naissance: </label>
              <input type="date" class="form-control" name="date_de_naissance_parent1">
            </div>
            <div class="col">
              <label for="sexe_parent1">Sexe: </label> <br>
              <input type="radio" id="btnradio" class="form-check-input ml-2" name="sexe_parent1" value="M">
              <label for="sexe_parent1" class="ml-4">Homme</label>
              <input type="radio" id="btnradio" class="form-check-input ml-2" name="sexe_parent1" value="F">
              <label for="sexe_parent1" class="ml-4">Femme</label>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_parent1">Courriel:</label>
              <input type="email" class="form-control" name="courriel_parent1">
            </div>
            <div class="col">
              <label for="prenom_parent1">Téléphone:</label>
              <input type="tel" class="form-control" name="num_telephone_parent1" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            </div>
          </div>

          <hr class="mt-4">

          <div class="row" id="parent2">
            <!-- ajout de ce block dans le handler-->
          </div>

          <h6 class="text-center mb-1"> Enfant </h6>

          <div class="row">
            <div class="col">
              <label for="nom_enfant">Nom:</label>
              <input type="text" class="form-control" name="nom_enfant">
            </div>
            <div class="col">
              <label for="prenom_enfant">Prénom:</label>
              <input type="text" class="form-control" name="prenom_enfant">
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="date_de_naissance_enfant">Date de naissance: </label>
              <input type="date" class="form-control" name="date_de_naissance_enfant">
            </div>
            <div class="col">
              <label for="sexe_parent1">Sexe: </label><br>
              <input type="radio" id="btnradio" class="form-check-input ml-2" name="sexe_enfant" value="M">
              <label for="sexe_parent1" class="ml-4">Garçon</label>
              <input type="radio" id="btnradio" class="form-check-input ml-2" name="sexe_enfant" value="F">
              <label for="sexe_parent1" class="ml-4">Fille</label>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_enfant">Courriel:</label>
              <input type="email" class="form-control" name="courriel_enfant">
            </div>
          </div>

          <div class="row mt-2">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary center-block mt-2">Modifier</button>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
